.header {
    border: 50px;
    width: 100%;
	padding: 30px;
    spacing: 0px;
    background-color: rgb(23, 126, 23);
    
}

.table {
    word-spacing: normal;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.td1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    size: 6px;
    
}

.td2 {
    width: 15%;
    padding-left: 120px;
}

a {
   font-style: italic;
   size: 5px;
   color: black; 
}

.tda {
    white-space: 20px;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
.table2{
    border: 1px;
    width: 100%;
    padding: 90px;
    spacing: 0px;
    background-color: rgb(66, 158, 81);
}
.table3{
    border: 0;
    padding: 15px;
    spacing : 0;
    width : 90%;
    align-self: center;
}
.td3 {
    align-self: center; 
    vertical-align: middle;
}
.h3 {
    size: 6px;
    color: #24222e;
    align-self: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.about {
    border: 1px;
    width: 100%;
    padding:20px;
    spacing: 0;
    color: rgb(12, 12, 12);
    background-color: rgb(182, 212, 189);
    } 
.table4 {
    border: 0px;
    padding: 15px;
    width: 80%;
    align-self: center;
}
.td4 {
    height: 180px;
    align-self: center;
    align-items: baseline;
     column-span: all;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    size: 7px;
    color: rgb(5, 5, 5);
}

.img {
    width: 40%;
}
p{
    size: 70px;
    padding: 30px;
}